<div class="Container contentList">
  <div class="card">
    <div class="card-content">
      <span class="card-title">Formulario para invitaciones SURA</span>
    </div>
    <div class="card-content">
      <form [formGroup]="invitationQuery" (submit)="createInvitacion()">
        <div class="form-group">
          <label for="operacion">Operacion</label>
          <select name="Operacion">
            <option *ngFor="let item1 of operaciones">
              {{item1.tipo}}
            </option>
          </select>
        </div>
        <div class="form-group">
          <label for="invitedUserEmailAddress">Email del usuario invitado</label>
          <input type="email" id="invitedUserEmailAddress" formControlName="invitedUserEmailAddress">
        </div>
        <div class="form-group">
          <label for="userPrincipalName">Confirmar email del usuario invitado</label>
          <input type="email" id="userPrincipalName" formControlName="userPrincipalName">
        </div>
        <div class="form-group">
          <label for="paise">Paises</label>
          <select name="Paises">
            <option *ngFor="let item of paises">
              {{item.name}}
            </option>
          </select>
        </div>
        <div class="form-group">
          <label for="nombre">Nombre de la persona a invitar</label>
          <input type="text" id="nombre" formControlName="nombre">
        </div>
        <p>
          <label>
            <input type="checkbox" value="true"/>
            <span>Si</span>
          </label>
          <br>
        </p>
        <br>
        <br>
        <button class="btn waves-effect waves-light cyan accent-4">Consultar</button>
      </form>
    </div>
  </div>
</div>