<div class="Container contentList">
  <div class="card">
    <div class="card-content">
      <span class="card-title">Formulario para invitaciones SURA</span>
    </div>
    <div class="card-content">
      <form [formGroup]="invitationQuery" (submit)="createInvitacion()">
        <div class="form-group">
          <label for="operacion">Operacion</label>
          <select formControlName="operacion">
            <option value="">Seleccione una opción</option>
            <option *ngFor="let operacion of operaciones" value="{{operacion.value}}">
              {{operacion.tipo}}
            </option>
          </select>
        </div>
        <div class="form-group">
          <label for="invitedUserEmailAddress">Email del usuario invitado</label>
          <input type="email" id="invitedUserEmailAddress" formControlName="invitedUserEmailAddress">
        </div>
        <div class="form-group">
          <label for="userPrincipalName">Confirmar email del usuario invitado</label>
          <input type="email" id="userPrincipalName" formControlName="userPrincipalName">
        </div>
        <div class="form-group">
          <label for="userPrincipalNameOld">Email para reemplzar la invitacion</label>
          <input type="email" id="userPrincipalNameOld" formControlName="userPrincipalNameOld">
        </div>
        <div class="form-group">
          <label for="division_grupo">division de grupo</label>
          <select formControlName="division_grupo">
            <option value="">Seleccione una opción</option>
            <option *ngFor="let item of paises">
              {{item.name}}
            </option>
          </select>
        </div>
        <div class="form-group">
          <label for="nombre">Nombre de la persona a invitar</label>
          <input type="text" id="nombre" formControlName="nombre">
        </div>
        <div class="form-group">
          <label for="reenvio">Reenvio</label>
          <select formControlName="reenviar">
            <option value="">Seleccione una opción</option>
            <option *ngFor="let reenvio of reenvios">
              {{reenvio.value}}
            </option>
          </select>
        </div>
        <br>
        <br>
        <button class="btn waves-effect waves-light cyan accent-4">Consultar</button>
      </form>
    </div>
  </div>
</div>